body{
  margin-top: 50px;
  text-align: center;
  background-color: rgb(52, 100, 100);
  font-size: calc(20px + 2vmin);
}
.App {
  padding: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #a8c6c9;
  min-height: 60vh;
  font-size: calc(10px + 2vmin);
  color: rgb(2, 2, 2);
  
}



